<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OutcomeMD_Automation" parallel="false">
  
  <test name="PatientCreation">
   
    <classes>
      <class name="Staging.LoginPage"/>
     <class name="Staging.PatientCreate"/>
     <class name="Staging.PatientManagementTab"/>
     <class name="Staging.SurveySend"/>
    </classes>
 
  </test>
</suite>
